.VirtualKeyboard[theme="dark"] {
  --primary: #292929;
  --primary-light: #a9a9a9;
  --primary-lighter: #f2f2f2;
  --primary-dark: #212121;
  --primary-darker: #141414;
  --primary-text-light: #fff;
  --primary-text-dark: #000;
  --disabled-text: #949494;
}

.VirtualKeyboard[theme="light"] {
  --primary: #f2f2f2;
  --primary-light: #515151;
  --primary-lighter: #212121;
  --primary-dark: #fefefe;
  --primary-darker: #fff;
  --primary-text-light: #000;
  --primary-text-dark: #fff;
  --disabled-text: #949494;
}

.VirtualKeyboard {
  --letter-width: 8%;

  display: flex;
  flex-direction: column;
  background-color: var(--primary);
}

.virtual-keyboard-letters {
  display: flex;
  flex-direction: column;
}

.virtual-keyboard-row {
  display: flex;
  justify-content: center;
}

.virtual-keyboard-action {
  height: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background-color: var(--primary-light);
}

.virtual-keyboard-action > i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  text-align: center;
  color: var(--primary-text-dark)
}

.virtual-keyboard-action > i:hover {
  flex-grow: 1;
  text-align: center;
  background-color: var(--primary-lighter);
}