.VirtualKey {
  background-color: var(--primary);
  color: var(--primary-text-light);
  padding: .5rem;
  width: var(--letter-width);
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: bold;
}

.VirtualKey.pressed {
  cursor: pointer;
  background-color: var(--primary-light);
  color: var(--primary-text-dark);
}
